@charset "UTF-8";

p.box {
    width: 20%;
    height: 10%;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    position: relative;
    top: 0%;
    right: -8%
}
p.box2 {
    width: 20%;
    height: 10%;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    position: relative;
    top: -150%;
    right: -69%
}

h1 {
    display: block;
    background-color: rgb(220, 187, 79);
    padding-left: 44%;
    position: sticky;
    top: 0;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(204, 102, 0))
    
}

p.box3{
    width: 80%;
    height: 10%;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    position: relative;
    top: 30%;
    right: -8.5%
}

p.box01 {
    width: 20%;
    height: 10%;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    position: relative;
    top: 0%;
    right: -17%
}

p.box011 {
    width: 20%;
    height: 10%;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    position: relative;
    top: 0%;
    right: -69%
}