@charset "UTF-8";

button{
    width: 3%;
    height: 6%;
    opacity: 0;
    background-color: none;
    border-radius: 20px;
    position: absolute;
    top: 8%;
    right: 46.7%;
    cursor: pointer;
}

div#piticoft{
    display: flex;
    justify-content: center;
    align-items: center;
}

p#box {
    width: 20%;
    height: 10%;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    position: relative;
    top: 0%;
    right: -8%
}
p#box2 {
    width: 20%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    padding-bottom: auto;
    position: absolute;
    top: 46.5%;
    right: 17%;
}

h1 {
    display: block;
    background-color: rgb(184, 37, 42);
    padding-left: 44%;
    position: sticky;
    top: 0;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(105deg, rgb(181, 101, 73),rgb(255, 102, 0));
    
}

p#box3{
    width: 91%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    padding-bottom: 6px;
    position: absolute;
    top: 151%;
    right: 5%
}

p#box01 {
    width: 20%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 68%;
    right: 68.5%
}

p#box011 {
    width: 20%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    border-radius: 20px;
    background-color: rgb(43, 162, 162);
    padding: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 70%;
    right: 17%
}

div#centro{
    
    position:absolute;
    top: 93%;
    right: 30%;
}

div#fotohis{
    position: absolute;
    top: 170%;
    right: 40%;
}

h2#historia{
    width: 100px;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 161%;
    right: 45%;
}

div#hp1{
    
    width: 40%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 215%;
    right: 30%;
}
div#hp2{

    width: 40%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 245%;
    right: 30%;
}
div#hp3{
    width: 40%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 275%;
    right: 30%;

}
div#hp4{
    width: 40%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 305%;
    right: 30%;

}

h2#diferenciais{
    width: 40%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 353%;
    right: 30%;
}

div#dif{
    text-wrap: wrap;
    width: 40%;
    height: auto;
    border: 1px solid rgb(0, 64, 64);
    background-color: rgb(43, 162, 162);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
    top: 365%;
    right: 30%;
}
